/*
Colors used:
Backround Color (Grey): #212121;
Primary Type Color (White): #ffffff
Secondary Color (Peach): #e39898
Secondary Color (Green): #8da485

Songduel Page Colors:
(Dark Grey): #1a1819
(Off White): #dcdcdc
SongDuel Link Colors: Unvisited, Hover, Focus, Visited: #cb00c3, Active: #9600f0
*/




/* Main Styling */
* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #ffffff;
}
h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}
img {
  width: 100%;
}
#hi {
  font-size: 7.5vw;
}
.skillstools {
  margin: .5em 0;
}
.no-pad-list {
  padding-left: 20px;
  margin: .5em 0;
}
.quarter-em-margin {
  margin: .25em 0;
}
/* Header and Navigation */

header {
  background-color: #212121;
  padding-top: 20px;
  width: 100%;
  position: fixed;
}
.logo {
  max-width: 46px;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 10px 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a, nav > ul > li > a:hover, nav > ul > li > a:focus, nav > ul > li > a:active {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
#aboutbutton {
  padding: 0 60px;
}



/*Link*/

a {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}
a:active {
  color: #e39898;
  text-decoration: underline
}

/*button*/

.button {
  display: inline-block;
  background-color: transparent;
  line-height:34px;
  width: 120px;
  height: 34px;
  text-align: center;
  border: 1px solid #ffffff;
  opacity: 1;
}
.button:visited {
  color: #ffffff;
  text-decoration: none;
}
.button:hover, .button:focus {
  opacity: .8;
  background-color: #ffffff;
  color: #212121;
  text-decoration: none;
}
.button:active {
  opacity: 1;
  background-color: #ffffff;
  color: #212121;
  text-decoration: none;
  border: 1px solid #ffffff;
}



/* Layout styling */
main {
  padding-top: 140px;
}
.container {
  padding: 0 12px;
}
.row {
  margin: 25px 0;
}



#work .row {
  padding-bottom: 25px;
}
.closertype {
  margin: 9px 0;
}
.last-pic {
  display: block;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.thanks {
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #212121;
}
/* Footer */

footer {
  padding-top: 40px;
}
.social-icons {
  padding: 40px 0 20px 0;
  }
  .behance {
  padding-right: 14px;
}
.legaltype {
  font-size: 12px;
  margin-top: 0;
}

.myname {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-bottom: .33em;
}
.address {
  margin: 0;
  padding-bottom: 1.25em;
}


/* Home Page */

#homehero {
  background-color: #212121;
  padding-top: 7px;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.proj {
  padding-bottom: 20px;
}
.proj-title {
  margin: 0;
  padding-top: 1em;
}
.proj-descript {
  margin: 0;
  padding: .3em 0 1.25em 0;
}
/* About Page */
#resume {
  margin: 24px 0;
}



/* SongDuel Page */
.songduel-main {
  background-color: #1a1819;
}
.songduel-light {
  color: #1a1819;
  background-color: #dcdcdc;
  display: inline-block;
  width: 100%
}
/*SongDuel Links*/

.sd-links {
  list-style-type: none;
  padding: 0;
}
#sd-link {
  padding-bottom: 10px;
}
.songduel-link, .songduel-link:visited {
  color: #cb00c3;
}
.songduel-link:active {
  color: #9600f0
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .col-md-6 {
    width: 50%;
  }
  .container {
    padding: 0 20px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul > li > a {
    font-size: 18px;
  }
  .proj-descript {
    font-size: 16px;
  }
  h1, h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.45em;
  }
  #I-like {
    font-size: 16px;
  }
  main {
    padding-top: 100px;
  }
  body {
    font-size: 18px;
  }
  .button {
    line-height: 37px;
    width: 132px;
    height: 37px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
