/*
Colors used:
Backround Color (Grey): #212121;
Primary Type Color (White): #ffffff
Secondary Color (Peach): #e39898
Secondary Color (Green): #8da485

SongDuel Link Colors: Unvisited, Hover, Focus, Visited: #cb00c3, Active: #9600f0
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff
}
h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}
img {
  width: 100%;
}


/*Link*/

a {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}
a:active {
  color: #e39898;
  text-decoration: underline
}

/*button*/

.button {
  display: inline-block;
  background-color: transparent;
  line-height:34px;
  width: 120px;
  height: 34px;
  text-align: center;
  border: 1px solid #ffffff;
  opacity: 1;
}
.button:visited {
  color: #ffffff;
  text-decoration: none;
}
.button:hover, .button:focus {
  opacity: .8;
  background-color: #ffffff;
  color: #212121;
  text-decoration: none;
}
.button:active {
  opacity: 1;
  background-color: #ffffff;
  color: #212121;
  text-decoration: none;
  border: 1px solid #ffffff;
}

/*SongDuel Links*/

.songduel-link, .songduel-link:visited {
  color: #cb00c3;
}
.songduel-link:active {
  color: #9600f0
}

/* Layout styling */

.container {
  padding: 0 12px;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom:25px;
}
