/*
Colors used:
Backround Color (Grey): #212121;
Primary Type Color (White): #ffffff
Secondary Color (Peach): #e39898
Secondary Color (Green): #8da485
*/

body {
  background-color: #212121;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: White
}
h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}
img {
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #e39898;
  text-decoration: none;
}
a:hover, a:focus {
  color: white;
  text-decoration: underline;
}
a:active {
  color: #e39898;
  text-decoration: underline
}
